<section id="signup">
  <div class="two-thirds padded">
	  <h1 class="script">Sign up</h1>
	  <%= render 'form', beta_user: @beta_user %>
  </div>
  <div class="one-third padded dark">
    <p>
      Impacter is being <strong class="script highlight">beta tested!</strong>
    </p>
    <h2 class="block">
      Let's work together
    </h2>
  </div>
</section>
